* {

    font-family: 'Bai Jamjuree', sans-serif;
}

body {
    background-image: url(images/bg-header-desktop.png);
    background-repeat: no-repeat;
}

.main-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
    margin-top: 90px;
}

.heading {
    font-family: bai-jamjuree, sans-serif;
    color: rgb(72, 78, 84);

    text-align: center;
    padding-top: 40px;
}

.heading h1 {
    font-size: 35px;
}

.heading-discruption {
    font-family: bai-jamjuree, sans-serif;
    text-align: center;
    color: rgb(178, 182, 184);
    font-size: 18px;
}

.download-button {
    display: flex;
    column-gap: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
}

.download-ios {
    padding: 15px 40px;
    background-color: hsl(171, 66%, 44%);
    color: white;
    border-radius: 30px;
    font-size: 18px;
    border: none;
    box-shadow: 0 4px 7px hsl(169, 78%, 82%);

}

.download-mac {
    padding: 15px 40px;
    background-color: rgb(93, 114, 248);
    color: white;
    border-radius: 30px;
    font-size: 18px;
    border: none;
    box-shadow: 0 4px 7px rgb(177, 186, 245);
}

.snippest-heading {
    font-family: bai-jamjuree, sans-serif;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

.snippest-heading h2 {
    font-size: 30px;
    color: rgb(76, 82, 87);
}

.snippest-heading-discruption {
    text-align: center;
    color: rgb(199, 200, 201);
    font-size: 18px;
}

.features-of-site {
    display: flex;
}

.app-display {
    position: relative;
    left: -90px;
}

.app-features {
    position: relative;
    left: 20px;
    top: 50px;
}

.app-features p {
    color: rgb(199, 200, 201);
}

.app-features h2 {
    font-size: 20px;
    color: rgb(103, 103, 104);
}

.about-access {
    color: rgb(66, 67, 67);
    text-align: center;

}

.about-access p {
    font-size: 18px;
    color: rgb(185, 187, 187);
}

.device-image {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.about-tool {
    text-align: center;
    color: rgb(56, 56, 56);
}

.about-tool p {
    color: rgb(156, 157, 157);
    font-size: 18px;
}

.features-of-app {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    column-gap: 40px;
    padding-left: 50px;
}

.features-of-app img {

    padding-left: 150px;
}

.features-of-app h2 {
    text-align: center;
    color: rgb(96, 94, 94);
}

.features-of-app p {
    text-align: center;
    color: rgb(156, 157, 157);
    font-size: 18px;
}

.plateform-image {
    display: flex;
    column-gap: 90px;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
}

.clipboard {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.clipboard h1 {
    text-align: center;
    color: rgb(96, 94, 94);
}

.clipboard p {
    text-align: center;
    color: rgb(156, 157, 157);
    font-size: 18px;
}

.more-info {
    display: flex;
    column-gap: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

footer {
    display: flex;
    column-gap: 200px;
    height: 200px;
    background-color: rgb(245, 246, 248);
    align-items: center;

}

.small-logo {

    height: 50px;
}

.more-info p {
    color: rgb(156, 157, 157);
}

.social-media-images {
    margin-left: auto;
    margin-right: auto;
    width: 10%;
    display: flex;
    column-gap: 20px;

}

.more-info {
    column-gap: 100px;
}

@media (max-width:500px) {
    .main-logo {
        width: 100px;
        margin-top: 90px;
    }

    .heading {
        width: 350px;
        padding-left: 70px;
    }

    .heading h1 {
        font-size: 35px;
    }

    .heading-discruption {
        width: 335px;
        padding-left: 70px;
    }

    .download-button {
        flex-direction: column;
        position: relative;
        left: -90px;
        row-gap: 20px;

    }

    .download-ios {
        height: 50px;
        width: 350px;

    }

    .download-mac {
        height: 50px;
        width: 350px;
    }

    .snippest-heading {
        width: 300px;
        text-align: center;
    }


    .snippest-heading-discruption {
        width: 370px;
        padding-left: 50px;
    }

    .features-of-site {
        flex-direction: column;
    }

    .app-display img {
        padding-left: 130px;
        width: 400px;
        height: 300px;
    }

  

    .app-features p {
        text-align: center;
        width: 320px;
        align-items: center;
        padding-left: 60px;
    }

    .app-features h2 {
        text-align: center;
    }

    .about-access {
        width: 350px;
        padding-left: 70px;
    }

    .about-access p {
        font-size: 18px;
        color: rgb(185, 187, 187);
    }

    .device-image img {
        height: 240px;
        width: 380px;
        position: relative;
        left: -20px;
    }

    .about-tool h1{
        width: 280px;
        margin-left: 100px;
    }

    .about-tool p {
       width: 290px;
       margin-left: 100px;
    }

    .features-of-app {
        flex-direction: column;
        padding-left: 0px;
    }

    .features-of-app img {

        padding-left: 190px;
    }

    .features-of-app h2 {
        padding-left: 0px;
    }

    .features-of-app p {
       width: 400px; 
       padding-left: 10px;
    }

    .plateform-image {
        flex-direction: column;
        row-gap: 100px;
        padding-left: 20px;
        align-items: center;
        margin-top: 30px;
    }

    .clipboard {
        width: 400px;
    }

    .clipboard p {
        width: 365px;
        padding-left: 20px;
    }

    .more-info{
        padding-top: 50px;
    }

    .more-info div{
        margin-top: 20px;
        align-items: center;
        width: 130px;
        text-align: center;
        padding-left: 50px;

    }

    .more-info p{
        font-size: 18px;
    }

    footer {
        margin-top: 100px;
        height: 700px;
        flex-direction: column;
    }

    .small-logo {

        height: 80px;
        
    }

    .social-media-images {
        margin-left: 0px;
        margin-top: 50px;
        width: 200px;
        align-items: center;
        column-gap: 40px;
        padding-left: 150px;

    }

    .more-info {
        flex-direction: column;
        
    }
}